*.[oa]
*.deps/
*.la
*.libs/
*.lo
*.log
*.out
*.rej
*.swp
*.gcno
*.gcda
*.gcov
*.trs
*_test
*.Po
*~
._Xcode*
*.dirstamp
Makefile
Makefile.in
Xcode*/
aclocal.m4
autom4te.cache/
automake*
compile
config.guess
config.h*
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
missing
stamp-h1
test-driver
